{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class="max-w-lg mx-auto">
    <div class="py-5 border-t border-gray-200 ">
        <a class="hover:text-pink-500" href="{% url 'signup-view' %}">Don't have an account?</a>
    </div>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="w-full text-white bg-pink-500 hover:bg-pink-600 px-3 py-1 rounded-md">
            Login
        </button>
    </form>
    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-pink-500" href="{% url 'password_reset' %}">Forgot Password</a>
    </div>
</div>
{% endblock %}